#welcome{
    background-color: whitesmoke;

}

#about{
    color: whitesmoke;
    height: 300px;
    background-color: rgb(242, 250, 255, 0.6);
    font-weight:600;
    text-align:center;

}

#message{
    background-color:white;
    width:300px;
    font-weight:600;
    text-align:center;
    color: #547584;
    height:340px;

}

body{
    background-color:#020716;
}
